// inicio de parallax
.main__principal__contacto {
  background-image: url(../img/parallax-contacto.jpg);
  color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  margin-top: 6rem;
  text-align: center;
  &__sub {
    font-family: "Roboto Condensed";
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    letter-spacing: 0.2em;
    line-height: 1.1em;
    text-transform: none;
    color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  &__p {
    font-style: normal;
    font-size: 1.3rem;
    font-family: "Roboto Condensed";
    text-align: center;
    line-height: 2;
    text-align: center;
    color: $primary;
  }
}
// fin de parallax
// inicio de contacto
.fondo__contacto {
  background-color: rgb(219, 219, 219);
  width: 100vw;
}
// inicio de info contacto y formulario
.contacto {
  display: flex;
  &__datos {
    display: flex;
    flex-direction: column;
    margin: 2.5rem;
  }
  &__sub {
    text-align: left;
  }
}
// fin de info contacto y formulario
// inicio de maps
.maps {
  width: 100vw;
}
// fin de maps
@media (min-width: 768px) {
  // inicio de parallax
  .main__principal__contacto {
    height: 30vh;
    &__sub {
      font-size: 1.4rem;
    }
    &__p {
      font-size: 2rem;
    }
  }
  // inicio de info contacto y formulario
  .contacto {
    display: grid;
    &__datos {
      display: grid;
      grid-template-areas: "contac formu";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      margin: 5rem;
    }
  }
  .contac {
    grid-area: contac;
  }
  .formu {
    grid-area: formu;
  }
  // fin de info contacto y formulario
}
@media (min-width: 992px) {
  // incio de parallax
  .main__principal__contacto {
    height: 50vh;
    background-attachment: fixed;
    &__sub {
      font-weight: 400;
      font-size: 2rem;
      letter-spacing: 0.34em;
      line-height: 1.8em;
      margin-bottom: 16px;
    }
    &__p {
      font-size: 4rem;
      line-height: 1;
    }
  }
  // fin de parallax
}
