.main__principal__especialidades {
    background-image: url(../img/parallax-especialidades.jpg);
    color: black;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100vw;
    text-align: center;
    &__sub{
      font-family: "Roboto Condensed";
      font-weight: 500;
      font-style: normal;
      font-size: 0.8rem;
      letter-spacing: 0.2em;
      line-height: 1.1em;
      text-transform: none;
      color: black;
      margin-bottom: 10px;
      text-align: center;
    }
    &__p{
      font-style: normal;
      font-size: 1.3rem;
      font-family: "Roboto Condensed";
      text-align: center;
      line-height: 2;
      text-align: center;
      color: #193c67;
    }
  }
  .especialidades__principal {
    padding: 1rem;
    padding-bottom: 2rem;
    line-height: 1.3;
    &__p{
      line-height: 1.2;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  .our__medida__especialidad {
    width: 100vw;
  }
  .titulo__especialidad {
    text-align: center;
  }
  .desc{
    margin-bottom: 1rem;
  }
  @media (min-width: 992px){
    .main__especialidades {
        background-color: rgba(28, 28, 28, 0.8);
        color: white;
        border: 1px solid white;
        border-radius: 10px;
        padding: 10px 15px;
        margin-left: 10px;
        margin-right: 1050px;
        text-align: center;
      }
      .main__principal__especialidades {
        height: 50vh;
        background-attachment: fixed;
        &__sub{
          font-weight: 400;
          font-size: 2rem;
          letter-spacing: 0.34em;
          line-height: 1.8em;
          margin-bottom: 16px;
        }
        &__p{
          font-size: 4rem;
          line-height: 1;
        }
      }
      .especialidades__descripcion{
        margin: 0em 5em 0em 5em;
        text-align: center;
      }
      .titulo__especialidad{
        font-size: 2rem;
      }
     .especialidad__ort{
      display: grid;
      grid-template-areas: 
      "desc imge01";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .desc{
      grid-area: desc;
      font-size: 1.2rem;
      line-height: 1.2em;
     }
     .imge01{
      grid-area: imge01;
     }
     .especialidad__endo{
      display: grid;
      grid-template-areas: 
      "desc imge02";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .imge02{
      grid-area: imge02;
     }
     .especialidad__ciru{
      display: grid;
      grid-template-areas: 
      "desc imge03";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .imge03{
      grid-area: imge03;
     }
     .especialidad__odonto{
      display: grid;
      grid-template-areas: 
      "desc imge04";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .imge04{
      grid-area: imge04;
     }
     .especialidad__perio{
      display: grid;
      grid-template-areas: 
      "desc imge05";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .imge05{
      grid-area: imge05;
     }
     .especialidad__blanq{
      display: grid;
      grid-template-areas: 
      "desc imge06";
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 2rem;
      margin: 2rem;
     }
     .imge06{
      grid-area: imge06;
     }
      .our__medida__especialidad {
        width: 500px;
        height: auto;
      }
  }