// inicio de contenido principal
.main__principal {
  background-image: url(../img/parallax-index.jpg);
  color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  text-align: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
  }
}
.main__title {
  font-family: "Roboto Condensed";
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  line-height: 1.1em;
  text-transform: none;
  color: black;
  margin-bottom: 10px;
  text-align: center;
  &__sub {
    font-style: normal;
    font-size: 1.3rem;
    font-family: "Roboto Condensed";
    text-align: center;
    line-height: 2;
    text-align: center;
    color: #193c67;
  }
}
// fin de contenido principal
// inicio de especialidades
.our__specialty {
  background: rgb(255, 255, 255);
  background-image: linear-gradient(
    3deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(219, 219, 219) 100%
  );
  width: 100vw;
  &__title__sub {
    text-align: center;
    &__wrapper {
      padding: 30px 15px;
    }
    &__img {
      padding: 20px 0;
    }
  }
}
.our__specialty__img:hover {
  transform: scale(1.1);
  background-color: rgb(245, 245, 249);
  border-radius: 30px;
}
.our__medida {
  width: 100%;
}
.specialty__title__sub {
  font-family: "Roboto Condensed";
  text-align: center;
}
// fin de especialidades
// inicio de nuestro equipo
.nuestro__equipo {
  width: 100vw;
  padding-top: 7rem;
}
.nuestro__equipo__titulo {
  background-color: rgb(219, 219, 219);
}
.profesionales {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
// fin de nuestro equipo
// inicio de testimonios
.comentarios {
  background-image: url(../img/fondocomentario.jpg);
  margin-bottom: 30px;
  &__testimonios {
    text-align: center;
  }
  &__carousel {
    justify-content: center;
  }
}
// fin de testimonios
// inicio de visitanos
.visitanos {
  background-color: rgb(219, 219, 219);
  display: flex;
  &__index {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 1rem;
  }
  .visitanos__img__tamaño {
    width: 100%;
  }
}
.visitanos__titulo__turno {
  background-color: rgb(219, 219, 219);
  border: 1px solid black;
  background-color: #d6d6d7;
  border-radius: 20px;
  padding: 10px 15px;
  margin-left: 20px;
}
// fin de visitarnos
@media (min-width: 768px) {
  // inicio de contenido principal
  .main__principal {
    height: 30vh;
  }
  .main__title {
    font-size: 1.4rem;
    &__sub {
      font-size: 2rem;
    }
  }
  // fin de contenido principal
  // inicio de especialidades
  .our__specialty {
    display: grid;
    &__wrapper {
      display: grid;
      grid-template-areas:
        "img01 img02"
        "img03 img04"
        "img05 img06";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 20px;
      padding: 70px 40px;
    }
  }
  .img01 {
    grid-area: img01;
  }
  .img02 {
    grid-area: img02;
  }
  .img03 {
    grid-area: img03;
  }
  .img04 {
    grid-area: img04;
  }
  .img05 {
    grid-area: img05;
  }
  .img06 {
    grid-area: img06;
  }
  // fin de especialidades
  // incio de visitanos
  .visitanos {
    display: flex;
    &__index {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2rem;
      margin-left: 10%;
      gap: 1rem;
    }
  }
  // fin de visitanos
}
@media (min-width: 992px) {
  // inicio de contenido principal
  .main__principal {
    height: 50vh;
    background-attachment: fixed;
    &__wrapper {
      width: 60%;
      overflow: hidden;
      display: inline-block;
    }
  }
  .main__title {
    font-size: 2rem;
    letter-spacing: 0.34em;
    line-height: 1.8em;
    &__sub {
      font-size: 4rem;
      line-height: 2;
    }
  }
  // fin de contenido principal
  .our__specialty {
    display: grid;
    &__wrapper {
      display: grid;
      grid-template-areas:
        "img01 img02 img03"
        "img04 img05 img06";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .img01 {
    grid-area: img01;
  }
  .img02 {
    grid-area: img02;
  }
  .img03 {
    grid-area: img03;
  }
  .img04 {
    grid-area: img04;
  }
  .img05 {
    grid-area: img05;
  }
  .img06 {
    grid-area: img06;
  } 
  .our__medida {
    height: auto;
  }
  // fin de especialidades
  // inicio de nuestro equipo
  .profesionales {
    flex-direction: row;
    justify-content: space-around;
  }
  // fin de nuestro equipo
  // inicio de testimonios
  .comentarios {
    margin: 40px;
  }
  // fin de testimonios
  // inciio de visitanos
  .visitanos {
    background-color: rgb(219, 219, 219);
    width: 100vw;
    &__index {
      margin-left: 30%;
      gap: 8rem;
    }
  }
  // fin de visitanos
}
