* {
  margin: 0;
  padding: 0;
}
html {
  color: black;
}
a {
  text-decoration: none !important;
  color: black !important;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  &__logo {
    width: 80px;
  }
}
.logo__navbar {
  width: 150px;
}
.navbar-expand-lg {
  width: 100vw;
}
h2 {
  color: $primary;
  font-size: 2rem !important;
  padding: 15px !important;
  text-align: center;
}
h3 {
  text-decoration: none;
  color: black;
  list-style-type: none;
  text-decoration-line: none;
}
.footer {
  background-color: $secondary;
  border-color: rgb(98, 97, 97);
  border-style: solid;
  border-width: 4px 0px 0px 0px;
  width: 100vw;
}
.logo__footer {
  width: 150px;
}
.main__footer__sub {
  padding: 1rem;
  &__titulo {
    color: $primary;
  }
}
.footer__final {
  text-align: center;
  padding-bottom: 1rem;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-BoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Condensed";
  src: url("fonts/RobotoCondensed-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@media (min-width: 768px) {
  .main__header {
    flex-direction: row;
    justify-content: space-around;
  }
  h3 {
    font-size: 1.5rem;
  }
  .main__footer {
    display: flex;
    padding: 0;
    justify-content: center;
    &__sub {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
@media (min-width: 992px) {
  .whatsapp {
    bottom: 40px;
    right: 40px;
  }
  .logo__navbar {
    width: 200px;
  }
  .main__footer {
    padding: 2rem;
    &__sub {
      gap: 5rem;
    }
  }
  .logo__footer {
    width: 200px;
  }
}
